.container
  .row
    .span12
      / TODO: else
      - if @sliders.present?
        .flexslider
          %ul.slides
            - @sliders.each do |slide|
              %li= image_tag slide.image.url
      %span#responsiveFlag
      / TODO: Slogan
      .block-slogan
        %h2= t('.welcome')
        %div
          %p!= t('.info', link: link_to(t('.info_link_text'), '#', target: '_blank', class: 'link-1'))
#content.content-extra
  .ic
  .row-1
    .container
      .row
        / TODO: else
        - if @categories.present?
          %ul.thumbnails.thumbnails-1.bxslider
            - @categories.each do |category|
              %li.span3
                .thumbnail.thumbnail-1
                  %h3= category.name
                  = image_tag category.image.url(:small)
                  %section
                    %strong= category.title
                    %p= category.description
                    = link_to t('.view'), [category, :products], class: 'btn btn-1'
  .container
    .row
      %article.span6
        %h3= t('.shortly_about')
        .wrapper
          %figure.img-indent
            = image_tag('page1-img5.jpg')
          .inner-1.overflow.extra
            .txt-1= t('.about_subtitle')
            = t('.about_info')
            .border-horiz
            .overflow
              - if @categories.present?
                %ul.list
                  - @categories.each do |category|
                    %li= link_to category.name, [category, :products]

      - if @recent_products.present?
        %article.span6
          %h3= t('.latest_products')
          %ul.list-photo
            - @recent_products.each do |product|
              %li
                = link_to image_tag(product.image.url(:small)), product.image.url, class: 'magnifier'
